<!doctype html>
<html>
  <head>
    <title>Fake Payment Gate</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <style>
    </style>
  </head>

  <body>
    <div class="container">
      <h1>Fake Payment Gate</h1>
      <h2>Here you can fake payment with fake card</h2>
      <p>You came from merchant: <%= merchant %></p>
      <p>Price: <%= price %></p>
      <p>Currency: <%= curr %></p>
      <p>Label: <%= label %></p>
      <p>RefId: <%= refId %></p>
      <p>Category: <%= cat %></p>
      <p>Method: <%= method %></p>

      <a href="<%= merchant.successRedirect %>">Pay successfuly</a><br />
      <a href="<%= merchant.failedRedirect %>">Cancel payment</a><br />
      <a href="<%= merchant.unknownRedirect %>">Decide randomly and later</a><br />
    </div>
    <script>
    
    </script>
  </body>
</html>
